<div class="modal calendarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div class="modal-body">
                <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                <%= f.text_field :reason, 
                    maxlength: 1000, 
                    placeholder: 'reason',
                    class: 'form-control', 
                    required: 'true' %>
                <%= f.hidden_field :request_date, :value =>  "value_to_change"%>
                <div>Current Bank Total : <%= current_user.bank_value %></div>
                <div>Total for Request: day_value * shift_hours </div>
                <%= f.submit 'create date_request', class: 'form-control' %><% end %>
            </div> <!-- modal-body -->
        </div> <!-- modal-conent -->
    </div> <!-- modal-dialog -->
</div> <!-- calendarModal -->