<div class="sidebar-wrapper z-depth-2 side-nav fixed" id="sidebar">
    <div class="sidebar-title">
        <h4 id="eventDayName">Date: <%= Time.now.in_time_zone("Mountain Time (US & Canada)").to_s[0,10] %></h4>
        <h5 id="bank-value">Bank Value: ₢ <%= current_user.bank_value %></h5>
    </div> <!-- sidebar-title -->
    <hr>
    <div class="all-requests">
        <h4>Upcoming Requests:</h4>
        <table class="agent-requests">
            <tbody>
            <% requests = current_user.pto_requests.order("request_date DESC")%>
            <% requests.each do |request| %>
                <tr>
                    <% if request.request_date > Date.today %>
                    <td><%= request.request_date %></td><td><%= request.reason.truncate(10) %></td><td><%= request.cost %></td>
                    <td><%= link_to "Delete", pto_request_path(request), data: {
                        :confirm => "Are you sure?"
                    }, :method => :delete %><td>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div> <!-- sidebar-wrapper z-depth-2 side-nav fixed -->