<div class="sidebar-wrapper z-depth-2 side-nav fixed" id="sidebar">
    <div class="sidebar-title">
        <h4 id="eventDayName">Date: <%= Time.now.in_time_zone("Mountain Time (US & Canada)").to_s[0,10] %></h4>
        <h5 id="bank-value" class="bank-value">Bank Value: ₢ <%= current_user.bank_value %></h5>
        <!--
        <p class="quarter-spending"> <%= "Q1 Remaining: #{45 - @q1}" unless @current_quarter > 1 %> </p>
        <p class="quarter-spending"> <%= "Q2 Remaining: #{90 - @q2}" unless @current_quarter > 2 %> </p>
        <p class="quarter-spending"> <%= "Q3 Remaining: #{135 - @q3}" unless @current_quarter > 3 %> </p>
        <p class="quarter-spending"> <%= "Q4 Remaining: #{180 - @q4}" unless @current_quarter > 4 %> </p>
        
        <p class="quarter-spending"> <%= "Q1 #{Date.today.year + 1}: #{45 - @q1_next}" if @current_quarter > 1 %> </p>
        <p class="quarter-spending"> <%= "Q2 #{Date.today.year + 1}: #{90 - @q2_next}" if @current_quarter > 2 %> </p>
        <p class="quarter-spending"> <%= "Q3 #{Date.today.year + 1}: #{135 - @q3_next}" if @current_quarter > 3 %> </p>
        -->
    </div> <!-- sidebar-title -->
    <hr>
    <div class="all-requests">
        <h4>Upcoming Requests:</h4>
        <table class="agent-requests">
            <tbody>
            <% requests = current_user.pto_requests.order("request_date ASC")%>
            <% requests.each do |request| %>
                <tr>
                    <% if request.request_date > Date.today %>
                    <td><%= request.request_date %></td><td><%= request.reason.truncate(10) %></td><td><%= request.cost %></td>
                    <td><%= link_to "Delete", pto_request_path(request), data: {
                        :confirm => "Are you sure?"
                    }, :method => :delete %><td>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div> <!-- sidebar-wrapper z-depth-2 side-nav fixed -->