<!-- left hand sidebar displays users bank values && requests-->
<body class="<%= controller_name %> <%= action_name %>">
    <div class="sidebar-wrapper z-depth-2 side-nav fixed" id="sidebar">
        <div class="sidebar-title">
            <div class="yearSelect">
                <button class="yearButtons" id="currentYearButton" onclick="openYear(event, currentYearTable)"><%= Date.today.year %></button>
                <button class="yearButtons" id="nextYearButton" onclick="openYear(event, nextYearTable)"><%= Date.today.year + 1 %></button>
            </div>
            <div class="tabContent" id="currentYearTable">
                <table>
                    <thead><h4 id="eventDayName"><%= Date.today.year %> Balances</h4></thead>         
                    <tbody
                        <tr>
                            <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31" id="quarter1"><%= "Q1" %></td>
                            <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30" id="quarter2"><%= "Q2" %></td>
                            <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30" id="quarter3"><%= "Q3" %></td>
                            <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Dec 31" id="quarter4"><%= "Q4" %></td>
                        </tr>
                        <tr>
                            <% unless @current_quarter > 1%>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31" id="quarter1Balance"><%= "#{@bank_split[0] + @q2 + @q3 + @q4 - 135}"%></td>
                            <% else %>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31" id="quarter1Balance">--</td>
                            <% end %>

                            <% unless @current_quarter > 2 %>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30" id="quarter2Balance"><%= "#{@bank_split[0] + @q3 + @q4 - 90}"%></td>
                            <% else %>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30" id="quarter2Balance">--</td>
                            <% end %> 

                            <% unless @current_quarter > 3 %>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30" id="quarter3Balance"><%= "#{@bank_split[0] + @q4- 45}" %></td>
                            <% else %>
                                <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30" id="quarter3Balance">--</td>
                            <% end %>

                            <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Dec 31" id="quarter4Balance"><%= "#{@bank_split[0]}" unless @current_quarter > 4 %></td>
                        </tr>
                    </tbody>
                </table>                                          
            </div>
            <div class="tabContent" id="nextYearTable">
                <table>
                    <thead><h4 id="eventDayName"><%= Date.today.year + 1%> Balances</h4></thead>
                    <tr>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31 of <%= Date.today.year + 1 %>" id="quarter1next"><%= "Q1" %></td>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30 of <%= Date.today.year + 1 %>" id="quarter2next"><%= "Q2" %></td>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30 of <%= Date.today.year + 1 %>" id="quarter3next"><%= "Q3" %></td>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Dec 31 of <%= Date.today.year + 1 %>" id="quarter4next"><%= "Q4" %></td>
                    </tr>
                    <tr>
                        <% if @current_quarter > 1 %> 
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31 of <%= Date.today.year + 1 %>" id="quarter1nextBalance"><%= "#{45 - @q1_next}" %></td>
                        <% else %>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to March 31 of <%= Date.today.year + 1 %>" id="quarter1nextBalance"><%= "🔒" %></td>
                        <% end %>
                        <% if @current_quarter > 2 %> 
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30 of <%= Date.today.year + 1 %>" id="quarter2nextBalance"><%= "#{90 - @q1_next - @q2_next}" %></td>
                        <% else %>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to June 30 of <%= Date.today.year + 1 %>" id="quarter2nextBalance"><%= "🔒" %></td>
                        <% end %>
                        <% if @current_quarter > 3 %> 
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30 of <%= Date.today.year + 1 %>" id="quarter3nextBalance"><%= "#{135 - @q1_next - @q2_next - @q3_next}" %></td>
                        <% else %>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Sept 30 of <%= Date.today.year + 1 %>" id="quarter3nextBalance"><%= "🔒" %></td>
                        <% end %>
                        <% if @current_quarter == 4 %>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Dec 31 of <%= Date.today.year + 1 %>" id="quarter4nextBalance"><%= "#{180 - @q1_next - @q2_next - @q3_next - @q4_next}" %></td>
                        <% else %>
                        <td class="quarter-spending tooltip-right" data-tooltip="Usable balance prior to Dec 31 of <%= Date.today.year + 1 %>" id="quarter4nextBalance"><%= "🔒" %></td>
                        <% end %>
                    </tr>
                </table>
            </div>
        </div> <!-- sidebar-title -->
        <hr>
        <div class="all-requests">
            <h4>Upcoming Requests:</h4>
            <table class="agent-requests">
                <tbody>
                <% requests = @user_requests.where("request_date > ?", Date.today).order("request_date ASC").to_a %>
                <% requests.each do |request| %>
                    <tr>
                        <td><%= request.request_date %> </td><td> <%= request.reason.truncate(10) %> </td><td> <%= request.cost %></td>
                        <td><%= link_to "Delete", soft_delete_request_url(request), data: {
                            :confirm => "Are you sure?"
                        }, :method => :delete %><td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div> <!-- sidebar-wrapper z-depth-2 side-nav fixed -->
</body>
