<body>
	<h1>Editing FAQ</h1>
	<p><b>Last Updated By</b>: <%= @faq.last_modified_by %></p>
	<p><b>Last Updated On</b>: <%= @faq.updated_at.strftime("%m/%d/%Y") %>

	<div>
		<%= bootstrap_form_for(@faq, :url => {:action => 'update', :id => @faq.id}) do |f| %>
			<%= f.text_area :body, rows: 5, cols: 25, :class => 'tinymce' %>
			<%= f.hidden_field :last_modified_by, :value => current_user.name %>
			<%= f.submit 'update faq', class:'form-control'%>
		<% end %>
	</div>
</body>	

<%= tinymce%>
