<h1> New FAQ </h1>

<div>
	<%= bootstrap_form_for(Faq.new) do |f| %>
		<%= f.text_area :body, rows: 5, cols: 25, :class => "tinymce"%>
		<%= f.hidden_field :last_modified_by, :value => current_user.name %>
		<%= f.submit 'create faq', class:'form-control'%>
	<% end %>
</div>

<%= tinymce%>
