<%= render 'pages/pages_path/calendar/sidebar' %>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    <body>
        <div class="main-wrapper split">
            <div class="container content-wrapper">
                <div class="calendar-wrapper z-depth-2">
                    <div class="calendar">
                        <div class="cal-top-left"><a class="prev-button" id="prev"><i class="material-icons">◄</i></a></div>
                        <div class="cal-top-right"><a class="next-button cal-top-right" id="next"><i class="material-icons">►</i></a></div>
                        <div class="cal-top-center">
                            <table class="month-nav">
                                <tr>
                                    <td>
                                        <form>
                                        <label for="month"></label>
                                        <select class="select-dropdown" name="month" id="month">
                                            <option value=0>January</option>
                                            <option value=1>February</option>
                                            <option value=2>March</option>
                                            <option value=3>April</option>
                                            <option value=4>May</option>
                                            <option value=5>June</option>
                                            <option value=6>July</option>
                                            <option value=7>August</option>
                                            <option value=8>September</option>
                                            <option value=9>October</option>
                                            <option value=10>November</option>
                                            <option value=11>December</option>
                                        </select>
                                        </td>
                                        <td>
                                        <label for="year"></label>
                                        <select class="select-dropdown" name="year" id="year" >
                                            <option value=2019>2019</option>
                                            <option value=2020>2020</option>
                                            <option value=2021>2021</option>
                                            <option value=2022>2022</option>
                                            <option value=2023>2023</option>
                                            <option value=2024>2024</option>
                                            <option value=2025>2025</option>
                                            <option value=2026>2026</option>
                                            <option value=2027>2027</option>
                                            <option value=2028>2028</option>
                                            <option value=2029>2029</option>
                                            <option value=2030>2030</option>
                                        </select>
                                        </form>
                                    </td>
                                    <td class="jump-button">
                                        <button name="jump" id="jump">Go</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="calendar-content cal-bottom">
                            <table id="calendar-table" class="calendar-cells">
                                <thead>
                                    <tr>
                                        <th>Sun</th>
                                        <th>Mon</th>
                                        <th>Tue</th>
                                        <th>Wed</th>
                                        <th>Thu</th>
                                        <th>Fri</th>
                                        <th>Sat</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                </tbody>
                            </table>
                            <div hidden id="month-name">
                                Month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="hasOffModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div><!-- modal-header -->
                    <div class="modal-body">
                        <div>You have already requested this day off.</div>
                    </div> <!-- modal-body -->
                </div> <!-- modal-conent -->
            </div> <!-- modal-dialog -->
        </div> <!-- hasOffModal -->
        <div class="modal" id="pipModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div><!-- modal-header -->
                    <div class="modal-body">
                        You are currently restricted from requesting time off at this moment, please talk to your supervisor for any requests.
                    </div> <!-- modal-body -->
                </div> <!-- modal-conent -->
            </div> <!-- modal-dialog -->
        </div> <!-- pipModal -->
        <div class="modal" id="calendarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div><!-- modal-header -->
                    <div class="modal-body">
                        <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.text_field :reason, 
                            maxlength: 1000, 
                            placeholder: 'reason',
                            class: 'form-control', 
                            required: 'true' %>
                        <%= f.hidden_field :request_date, :value =>  "value_to_change"%>
                        <div class="bank-total">Current Bank Total : <%= current_user.bank_value %></div>
                        <div class="request-total">Total for Request: day_value * shift_hours </div>
                        <%= f.hidden_field :cost, :value => "value_to_change" %>
                        <%= f.submit 'create request', class: 'form-control' %><% end %>
                    </div> <!-- modal-body -->
                </div> <!-- modal-conent -->
            </div> <!-- modal-dialog -->
        </div> <!-- calendarModal -->
        <div class="modal" id="dayOfModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div><!-- modal-header -->
                    <div class="modal-body">
                        <div>At the momnent, day of requests are not allowed. You will need to reach out to your direct supervisor and the MCO to get the day off, thank you.</div>
                    </div> <!-- modal-body -->
                </div> <!-- modal-conent -->
            </div> <!-- modal-dialog -->
        </div> <!-- dayOfModal -->
    </body>
</html>