<div class="sb-container">    
    <div class="port-dates">
        <h4> Import Date Value CSV </h4>
        <%= form_tag import_date_values_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Date CSV" %>
        <% end %> 
    </div> 
    <div class="port-agents">
        <h4> Import Agents CSV</h4>
        <%= form_tag import_agents_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Agents CSV" %>
        <% end %> 
    </div> 
</div>