<br><br><br><br>
<h1>Utah PTO Mission Control</h1>
<div>
  <h3>Agents Off Today</h3>
    <%= "The gangs all here!" if @offtoday.empty? %>
    <% @offtoday.each do |agent| %>
    <div>
      <% agent %>
      <% end %>
    <div>
</div>

<div>
  <h3>All Agents</h3>
  <% @agents.each do |agent| %>
  <div>
    <%= agent.name %> <% agent.bank_value %>
    <% end %>
  </div>


</div>

<div>
  <h4> Import Date Value CSV </h4>
    <%= form_tag import_date_values_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Date CSV" %>
    <% end %> 
</div> 

<div>
  <h4> Import Agents CSV</h4>
    <%= form_tag import_agents_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Agents CSV" %>
    <% end %> 
</div> 

