
<div class="layout">
  <div class="left">
<!--  <button class="adminbutton" id="csv">Add Request</button>  -->
  <button class="adminbutton" id="values-csv">Upload Values</button>
  <button class="adminbutton" id="users-csv">Upload Users</button>
  <button class="adminbutton" id="pto-csv">Import Requests</button>
  <%= form_tag import_request_pto_requests_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import PTO requests" %>
    <% end %> 

  </div>
  <div class="right">
      <div id="searchbar">
        <input type="text" id="search" onkeyup="filter()" placeholder="Filter by name.." title="Filter by name">
      </div>
    <div class="all-agents">
        <table id="agent-table">
          <tbody>
            <thead>
              <tr>
                <th>Agent Name</th>
                <th>PTO Points</th>
              </tr>
            </thead>
              <% @agents.each do |agent| %>
            <tr class="agent-row">
              <td class="agent-name"><%= link_to "#{agent.name}", show_user_path(agent) %></td>
              <td class="agent-points"><%= agent.bank_value %></td>
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>
  </div>  
  <div class="center">
    <h4>Agents working today</h4>
      <% if @offtoday.is_a? String %>
        <div class="errormessage"><%= @offtoday %></div>
      <% else %>
        <% @scheduled.each do |agent| %>
          <div class="start-<%= Time.parse(agent.start_time).in_time_zone("Mountain Time (US & Canada)").to_s[11..15] %>">
          <% if agent.pto_requests.where(request_date: Date.today).empty? %>
            <span class="<%= agent.position %>"><%= agent.name %></span>
          <% else %>
            <span class="offtoday"><%= agent.name %></span>
          <% end %>
          </div>
          <div class="end-<%= Time.parse(agent.end_time).in_time_zone("Mountain Time (US & Canada)").to_s[11..15] %>"></div>
      <% end %>
      <% end %>
  </div>

</div>
    <div id="upload-users" class="admin-modal">
      <div class="upload-users-content">
          <div class="modal-header">Import Agents CSV
              <div class="close2">&times;</div></div>
              <%= form_tag import_agents_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag "Import Agents CSV" %>
              <% end %> 
      </div>
    </div>

    <div id="upload-values" class="admin-modal">
        <div class="upload-values-content">
            <div class="modal-header">Import Date Value CSV
                <div class="close">&times;</div></div>
                <%= form_tag import_date_values_path, multipart: true do %>
                <%= file_field_tag :file %>
                <%= submit_tag "Import Value CSV" %>
                <% end %> 
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    function filter() {
        var input, filter, table, tr, td, i, ii;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("agent-table");
        tr = table.querySelectorAll("tbody tr");
        for (i = 0; i < tr.length; i++) {
            var tds = tr[i].getElementsByTagName("td");
            var found = false;
            for (ii = 0; ii < tds.length && !found; ii++) {
                if (tds[ii].textContent.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                    break;
                }
            }
            tr[i].style.display = found?"":"none";
        }
    }
</script>

<script>
var modal = document.getElementById('upload-users');
var btn = document.getElementById("users-csv");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  else if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
var modal2 = document.getElementById('upload-values');
var btn2 = document.getElementById("values-csv");
var span2 = document.getElementsByClassName("close2")[0];
btn2.onclick = function() {
  modal2.style.display = "block";
}
span2.onclick = function() {
  modal2.style.display = "none";
}
</script>

