<div class='container'>
    <div class='row' style='padding: 1.25rem;'>
      <div class='h1 col-md-11'>Support Agents</div>
      <div><%= link_to(
        'Reset filters',
        reset_filterrific_url,
        :class => 'btn-sm btn-primary'
      ) %>
      </div>
    </div>

  <div class='card' style='background-color: #f8f9fa; border: 1px solid rgba(0,0,0,0.125); border-radius: 0.25rem; padding: 1.25rem;'>
    <% puts @filterrific.inspect %>
    <%= form_for_filterrific @filterrific do |f| %>
    <div class='row'>
      <div class='col-md-3'>
        <div class='form-group'>
          <label>Search</label>
         			<input type="text" id="search" onkeyup="filter()" placeholder="Search" class='form-control'>
        </div>
      </div>
    <div class='col-md-3'>
      <div class='form-group'>
        <label>Team</label>
        <%= f.select(
          :with_team,
          @filterrific.select_options[:with_team],
          { include_blank: '- All -' },
          { :onchange=>'this.form.submit();', :class => 'form-control' },
          ) %>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='form-group'>
        <label>Working Today</label>
        <%= f.select(
          :working_today,
          @filterrific.select_options[:working_today],
          { include_blank: '---' },
          { :onchange=>'this.form.submit();', :class => 'form-control' },
          ) %>
      </div>
    </div>


  </div>
<% end %>
</div>

<br>
<%= render(
  partial: 'users/list',
  locals: { users: @users }
) %>

<script type='text/javascript'>
	let filter = () => {
		let input, filter, table, tr, td, i, ii;
		input = document.getElementById('search');
		filter = input.value.toUpperCase();
		table = document.getElementById('roster-table');
		tr = table.querySelectorAll('tbody tr');
		for (i = 0; i < tr.length; i++) {
			let tds = tr[i].getElementsByTagName('td');
			let found = false;
			for (ii = 0; ii < tds.length && !found; ii++) {
				if (tds[ii].textContent.toUpperCase().indexOf(filter) > -1) {
					found = true;
					break;
				}
			}
			tr[i].style.display = found ? '' : 'none';
		}
	}
</script>