
<div class="layout-edit-user"> 

  <div class="left-edit-user">
        <% if @user.is_deleted? %>
        <div>
        <%= link_to "User PTO Requests", export_user_request_path(:id => @user, :format => :csv , :method => :get), {class:"edit-user-links"} %>
        <%= button_to "Restore User", restore_user_url(@user), data: {
            :confirm => <<-confrim 
            Are you sure that you want to restore #{@user.name}?
            Note: this *will not* restore their previous future PTO requests
            confrim
         }, :method => :post %>        
         </div>
        <% else %>
        
        <button class="edit-user-buttons" id="add-request-btn">Add Request</button>
        <div>
        <%= link_to "User PTO Requests", export_user_request_path(:id => @user, :format => :csv , :method => :get), {class:"edit-user-links"} %>
        </div>
        <div>
            <%= button_to "Password Reset", user_send_password_reset_path(@user), {class:"edit-user-buttons"} %>
        </div>
        <div>
            <%= button_to "8/10 hour shift", user_update_shift_path(@user), method: :put %>
        </div>
        <button class="edit-user-buttons" id="add-no-call-show-btn">Add No Show</button>
        <button class="edit-user-buttons" id="add-make-up-day-btn">Add Make Up / Sick Day</button>
        <% if current_user.admin? %>
        <%= button_to "Toggle Admin", user_update_admin_path(@user), {class:"edit-user-buttons"} %>
        <%= button_to "Toggle Pip", user_update_pip_path(@user), {class:"edit-user-buttons"} %>
        <%= button_to "Delete User", soft_delete_user_url(@user), data: {
            :confirm => "Are you sure that you want to delete #{@user.name}? This will also delete #{@user.name}'s future PTO requests."
         }, :method => :put %>
        <% end %>
        <% end %>
        <button class="edit-user-buttons" id="Back" onclick="history.back(-1)">Go Back</button>
  </div>
        #logic for showing banner if user is deleted
         <% if @user.is_deleted? %>
    <div class="right-edit-user users-right-alert">

        <div class="alert">
            <h1>You are currently viewing a DELETED user.</h1>
        </div>
        <% else %>
    <div class="right-edit-user users-right">
        <% end %>
        
        <div class="content-top">
            <h2>Agent Profile</h2>
            <table class="profile-container">
                <tr><td>Name:</td><td><%= @user.name %></td><td>Email:</td><td><%= @user.email %></td></tr>
                <tr><td>Position:</td><td><%= @user.position %></td><td>Team:</td><td><%= @user.team %></td></tr>
                <tr><td><%= Date.today.year %> Bank Value:</td><td><%= @bank_split[0] %></td><td>Admin:</td><td><%= @user.admin %></td></tr>
                <tr><td><%= Date.today.year + 1%> Bank Value:</td><td><%= @bank_split[1] %></td> <td>Start Date : </td><td><%= @user.start_date.strftime("%D") unless @user.start_date.nil? %></td></tr>
                <tr><td>Shift:</td><td><%= @shift_start %> – <%= @shift_end %></td><td>Shift Length:</td><td><% if @user.ten_hour_shift %> 10 hour shift <% else %> 8 hour shift <% end %></td></tr>
                <tr><td>Work Days:</td><td><%= @workdays.chop.chop %></td><td>Make Up Days : </td><td><%=@user.make_up_days %></td></tr>
                <tr><td>Restricted PTO : </td><td><%= @user.on_pip%></td><td>No Call/ No Shows : </td><td><%= @user.no_call_show%></td></tr>
            </table>
        </div>
        <div class="content-bottom">
            <div class="upcoming-requests-tab">
                    <h2>Requests for Today</h2>
                    <table class="requests">
                        <% requests = @user.pto_requests.order("request_date ASC") %>
                        <% requests.each do |request| %>
                        <% if request.request_date == Date.today %>
                        <tr>
                        <td><b>Date:</b> <%= request.request_date %></td>
                        <td><b>Value:</b> <%= request.cost %></td>
                        <td><b>Reason:</b> <%= request.reason %></td>
                        <td><b>Excused:</b> <%= request.excused %> <%= request.admin_note %></td>
                        <td><%= link_to "Delete", pto_request_path(request), {:data => {
                :confirm => "Are you sure?"}, :method => :delete , :class => "edit-user-links"} %></td>
                        <td><% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %></td>
                        <% end %>
                        </tr>
                        <% end %>
                    <% end %>
                    </table>
            </div>
            <div class="upcoming-requests-tab">
                    <h2>Upcoming Requests</h2>
                    <table class="requests">
                        <% @user.pto_requests.each do |request| %>
                        <% if request.request_date > Date.today %>
                        <tr>
                        <td><b>Date:</b> <%= request.request_date %></td>
                        <td><b>Value:</b> <%= request.cost %></td>
                        <td><b>Reason:</b> <%= request.reason %></td>
                        <td><b>Excused:</b> <%= request.excused %> <%= request.admin_note %></td>
                        <td><%= link_to "Delete", pto_request_path(request), {:data => {
                :confirm => "Are you sure?"}, :method => :delete , :class => "edit-user-links"} %></td>
                        <td><% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %></td>
                        <% end %>
                        </tr>
                        <% end %>
                    <% end %>
                    </table>
            </div> 
            <div class="past-requests-tab">
                    <h2>Past Requests</h2>
                    <table class="requests">
                        <% @user.pto_requests.each do |request| %>
                        <% if request.request_date < Date.today %>
                        <tr>
                        <td><b>Date:</b> <%= request.request_date %></td>
                        <td><b>Value:</b> <%= request.cost %></td>
                        <td><b>Reason:</b> <%= request.reason %></td>
                        <td><b>Excused:</b> <%= request.excused %> <%= request.admin_note %></td>
                        <td><%= link_to "Delete", pto_request_path(request), {:data => {
                :confirm => "Are you sure?"}, :method => :delete , :class => "edit-user-links"} %></td>
                        <td><% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %></td>
                        <% end %>
                        </tr>
                        <% end %>
                        <% end %>
                    </table>
            </div>
        </div>
    </div>
    
    <div class="modal"  id="add-request" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- modal-header -->
                    <div class="modal-body">
                    <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                        <%= f.hidden_field :user_id, :value => @user.id %>
                        <%= f.text_field :reason, 
                            maxlength: 1000, 
                            placeholder: 'reason',
                            class: 'form-control', 
                            required: 'true' %>
                        <%= f.date_field :request_date %>
                        <%= f.number_field :cost, placeholder: 'place -1 to use todays cost' %>
                        <%= f.submit 'create request', class: 'form-control' %>
                    <% end %>
                    </div> <!-- modal-body -->
            </div> <!-- modal-conent -->
        </div> <!-- modal-dialog -->
    </div> <!-- add-request -->  
</div>

<div class="modal"  id="add-no-call-show" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div class="modal-body">
                <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                    <%= f.hidden_field :user_id, :value => @user.id %>
                    <%= f.hidden_field :reason, :value => 'no call / no show' %>
                    <%= f.hidden_field :cost, :value => '0' %>
                    <%= f.date_field :request_date %>
                    <%= f.submit 'create request', class: 'form-control' %>
                <% end %>
            </div> <!-- modal-body -->
        </div> <!-- modal-conent -->
    </div> <!-- modal-dialog -->
</div> <!-- add-no-call-show -->

<div class="modal"  id="add-make-up-day" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div class="modal-body">
                <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                    <%= f.hidden_field :user_id, :value => @user.id %>
                    <%= f.hidden_field :reason, :value => 'make up / sick day' %>
                    <%= f.hidden_field :cost, :value => '0' %>
                    <%= f.date_field :request_date %>
                    <%= f.submit 'create request', class: 'form-control' %>
                <% end %>
            </div> <!-- modal-body -->
        </div> <!-- modal-conent -->
    </div> <!-- modal-dialog -->
</div> <!-- add-make-up-day -->
