<div class="layout-edit-user">
  <div class="left-edit-user">
        <button class="edit-user-buttons" id="add-request-btn">Add Request</button>
        <%= button_to "Toggle Admin", user_update_admin_path(@user), {class:"edit-user-buttons"} %>
        <div>
            <%= button_to "Password Reset", user_send_password_reset_path(@user), {class:"edit-user-buttons"} %>
        </div>

        <div>
            <%= form_tag user_update_shift_path(current_user), method: :put do %>
            <%= submit_tag '8/10 hour shift' %>
            <% end %>
        </div>
        <button class="edit-user-buttons" id="Back"><%= link_to "Back", :back %></button>
  </div>

    <div class="right-edit-user users-right">
        <div class="content-left">
            <h1>Agent Profile</h1>
            <table class="profile-container">
                <tr><td>Profile:</td><td><%= @user.name %></td></tr>
                <tr><td>Position:</td><td><%= @user.position %></td></tr>
                <tr><td>Admin:</td><td><%= @user.admin %></td>
                <tr><td>Current Bank Value:</td><td><%= @user.bank_value %></td></tr>
                <tr><td>Shift Length:</td><td><% if @user.ten_hour_shift %> 10 hour shift <% else %> 8 hour shift <% end %></td></tr>
                <tr><td>Work Days:</td><td><%= @user.work_days %></td></tr>
                <tr><td>Start Time:</td><td><%= @user.start_time %></td></tr>
                <tr><td>End Time:</td><td><%= @user.end_time %></td></tr>
                <tr><td>Team:</td><td><%= @user.team %></td></tr>
            </table>
        </div>

        <div class="upcoming-requests-tab content-middle">
            <div>
                <h1>Requests for today</h1>
                <% @user.pto_requests.each do |request| %>
                    <% if request.request_date == Date.today %>
                    <div>
                    <%= request.reason %> <%= request.request_date %> <%= request.cost %> <%= request.excused %> <%= request.admin_note %> <% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %> <% end %>
                    </div>
                    <% end %>
                <% end %>
            </div>
            <div>
            <h1>Upcoming requests</h1>
            <% @user.pto_requests.each do |request| %>
                <% if request.request_date > Date.today %>
                <div>
                <%= request.reason %> <%= request.request_date %> <%= request.cost %> <%= request.excused %> <%= request.admin_note %> <% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %> <% end %>
                </div>
                <% end %>
            <% end %>
            </div> 
        </div>

        <div class="past-requests-tab content-right">
            <div>
            <h1>Past requests</h1>
            <% @user.pto_requests.each do |request| %>
                <% if request.request_date < Date.today %>
                <div>
                <%= request.reason %> <%= request.request_date %> <%= request.cost %> <%= request.excused %> <%= request.admin_note %> <% if request.excused == false %><%= button_to "Excuse Request", excuse_pto_request_path(request) %> <% end %>
                </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
    
    <div class="modal"  id="add-request" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- modal-header -->
                    <div class="modal-body">
                    <%= bootstrap_form_for(PtoRequest.new) do |f| %>
                        <%= f.hidden_field :user_id, :value => @user.id %>
                        <%= f.text_field :reason, 
                            maxlength: 1000, 
                            placeholder: 'reason',
                            class: 'form-control', 
                            required: 'true' %>
                        <%= f.date_field :request_date %>
                        <%= f.number_field :cost %>
                        <%= f.submit 'create request', class: 'form-control' %>
                    <% end %>
                    </div> <!-- modal-body -->
            </div> <!-- modal-conent -->
        </div> <!-- modal-dialog -->
    </div> <!-- add-request -->

</div>

<script>
    var modal = document.getElementById('update-password');
    var btn = document.getElementById("reset-password-button");
    var span = document.getElementsByClassName("close2")[0];
    btn.onclick = function() {
      modal.style.display = "block";
    }
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

<script>
  $('body').on('click', '#add-request-btn', async function () {
    $('#add-request').modal('show')
  })
</script>