<!DOCTYPE html>
<html>

  <head>
    <title>PandaPto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="alert-container">
    <% flash.each do |key, value| %>
    <% if key == 'alert'
      alert_class = 'danger'
    elsif key == 'notice'
      alert_class = 'success'
    else
        alert_class == key
    end %>
      <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      <% end %>
    <% end %>
    </div>
    <%= yield %>
  </body>

</html>